@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@400;700;800&family=Poppins:wght@700&display=swap');
@import url('./styles/header.css');

body {
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #333333;
}
h1 {
  font-size: 1.25rem;
  font-family: 'Montserrat';
  font-weight: 700;
}